<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">SMS....</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-topbar></app-topbar>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <app-aside></app-aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor"><i class="mdi mdi-city"></i> Placement</h3>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#filterForm">
                                        <i class="fa fa-filter"></i> Filter
                                    </button>
                                <input type="search" (keyup)="searchBox($event.target.value)" aria-label="Search" class="pull-right form-control" style="max-width: 20%" placeholder="Search here">
                            </h6>
                            <div class="table-responsive">
                                <table class="table table-bordered font-14">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Reg. No</th>
                                            <th>PhoneNo</th>
                                            <th>Place of IT</th>
                                            <th>Supervisor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="MasterList.length<1">
                                            <td colspan="5">Record not found</td>
                                        </tr>
                                        <tr *ngFor="let item of MasterList | paginate: config; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.students.regno}}</td>
                                            <td>{{item.students.phone}}</td>
                                            <td>
                                                <span *ngIf="item.placement && item.placement.orgname">
                                                        {{item.placement.orgname}}, {{item.placement.addr}} {{item.placement.city}}, {{item.placement.lga}} {{item.placement.state}}
                                            </span>

                                            </td>
                                            <td>
                                                <span *ngIf="item.supervisor && item.supervisor.fullname">
                                                        {{item.supervisor.fullname}}
                                                </span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-10">
                                    <pagination-template *ngIf="MasterList.length && MasterList.length > 0" #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                                        <div class="col-md-3" *ngIf="p.pages.length>0">
                                            Page {{p.getCurrent()}} of {{p.pages.length}}
                                        </div>
                                        <div class="col-md-5">
                                            <ul class="pagination">
                                                <li class="page-item" [class.disabled]="p.isFirstPage()">
                                                    <a class="page-link" title="« Provious Page" *ngIf="!p.isFirstPage()" (click)="p.previous();$event.preventDefault();$event.stopPropagation()" href> « </a>
                                                </li>
                                                <li class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value" [ngClass]="{'active': p.getCurrent() === page.value}">
                                                    <a class="page-link" (click)="p.setCurrent(page.value);$event.preventDefault();$event.stopPropagation()" href>
                                                                                {{ page.label }}
                                                                            </a>
                                                </li>
                                                <li class="page-item" [class.disabled]="p.isLastPage()">
                                                    <a class="page-link" title="Next Page »" *ngIf="!p.isLastPage()" (click)="p.next();$event.preventDefault();$event.stopPropagation()" href> » </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </pagination-template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <app-footer></app-footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<div class="modal fade top" id="filterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-frame modal-top modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Body-->
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                    <form class="form-inline form-material" [formGroup]="filterForm" (ngSubmit)="filterRecords()">
                        <div class="form-group">
                            <label for="session">Session</label>
                            <select formControlName="session" class="form-control ml-1">
                                            <option>All</option>
                                            <option>2018/2019</option>
                                          </select>
                        </div>
                        <div class="form-group">
                            <label for="dpm">Department</label>
                            <select formControlName="dpm" class="form-control ml-1">
                                                <option>All</option>
                                                <option>Accounting</option>
                                                <option>Agric. Tech.</option>
                                                <option>Computer Science</option>
                                                <option>O.T.M</option>
                                                <option>S.L.T</option>
                                                <option>Statistics</option>
                                              </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit"> <i class="fa fa-filter"></i> Filter</button>
                            <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal"><i class="mdi mdi-close"></i> Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/.Content-->
</div>